# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars.bak
.terraform.lock.hcl

# SOPS
*.dec
keys.txt

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Trash
**/TRASH/
**/TRASH-FILES.md

# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# Tilt
tilt_modules/
